<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Evaluate News NLP</title>
    </head>
    <body>  
        <main>
            <div class="container">
                <p class='heading'>Please enter url for an article you want to evaluate</p>
                <section>
                    <form id="form">
                        <label for="article-url">URL</label>
                        <input
                            id="article-url"
                            type="text"
                            name="input"
                            value=""
                            placeholder="Enter Article URL here"
                        />
                        <button type="submit" class="btn-submit" id="btn-submit">Submit</button>
                    </form>
                </section>

                <section class="results">
                    <strong>Form Results:</strong>
                    <div id="text"></div>
                    <div id="agg"></div>
                    <div id="sub"></div>
                    <div id="con"></div>
                    <div id="ir"></div>
                    <div id="sc"></div>
                </section>
            </div>
        </main>
        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js");
                });
            }
        </script>
    </body>
</html>
